<div class="layout-wrapper" style="margin: 0px; padding:0px">
  <div class="topbar">
    <a [routerLink]="['/']"><img class="image-logo" alt="logo" src="assets/images/logo.png"></a>

    <ul class="topbar-menu">
      <img src="assets/images/flag_us.png" [class]="currentLanguageEng? 'language-icon-active' : 'language-icon'"
           (click)="changeLanguage('en')">

      <img src="assets/images/flag_ro.png" [class]="!currentLanguageEng? 'language-icon-active' : 'language-icon'"
           (click)="changeLanguage('ro')">

      <li>
        <a [routerLink]="['/about']" [routerLinkActive]="['is-active']">{{ 'DASHBOARD.ABOUT' | translate }}</a>
      </li>

      <li>
        <a [routerLink]="['/page2']" [routerLinkActive]="['is-active']">{{ 'DASHBOARD.EXPLORE' | translate }}</a>
      </li>

      <li>
        <a [routerLink]="['/repositories']" [routerLinkActive]="['is-active']">{{ 'DASHBOARD.TOP_REPOSITORIES' | translate }}</a>
      </li>

      <li>
        <a [routerLink]="['/developers']" [routerLinkActive]="['is-active']">{{ 'DASHBOARD.TOP_DEVELOPERS' | translate }}</a>
      </li>

      <li>
          <a [routerLink]="['/search']" [routerLinkActive]="['is-active']">{{ 'DASHBOARD.SEARCH' | translate }}</a>
        </li>
      <!--<li>
        <a [routerLink]="['/']">{{ 'DASHBOARD.HOME' | translate }}</a>
      </li>-->
    </ul>
  </div>
</div>

<router-outlet style="background: white!important"></router-outlet>

<!--
<footer>
  <div class="text-center">© 2019 Copyright:
    <a href="https://github.com/iantal/git-explorer"> GitExplorer Team</a>
  </div>
</footer>
-->

<footer class="page-footer pt-4" style="background: #1976d2;">
  <div class="footer-copyright text-center py-3">
    <p>&nbsp;</p>
    <div class="container-fluid" style="color:white">
      © 2019 Copyright:
      <a href="https://github.com/iantal/git-explorer" style="color: #05284a!important;"> GitExplorer Team </a>
    </div>
  </div>
</footer>
