<div class="layout-wrapper" style="margin: 0px; padding:0px">
  <div class="layout-main" style="margin: 0px; padding:0px">
    <div class="layout-main-content" style="margin: 0px; padding:0px">
      <div class="topbar-height" style="margin-bottom:5px">
        <div class="ui-g topbar-height">
          <div class="ui-g-3 topbar-height">
            <img src="assets/images/logo.png" style="height: 100px; width: 130px;">
          </div>

          <nav class="ui-g-5 topbar-height" style="text-align: center; margin-top: 15px;">
            <a class="text-style" style="margin-right: 25px;" href="#"> {{ 'DASHBOARD.PAGE1' | translate }} </a>
            <a class="text-style" style="margin-right: 25px;" href="#"> {{ 'DASHBOARD.PAGE2' | translate }} </a>
            <a class="text-style" style="margin-right: 25px;" href="#"> {{ 'DASHBOARD.ABOUT' | translate }} </a>
          </nav>

          <div class="ui-g-4 topbar-height" style="text-align: right">
            <div style="margin-top:15px;">
              <img src="assets/images/flag_us.png" width="30px" height="20px" (click)="changeLanguage('en')"
                   style="margin-right:20px;margin-top:5px;">
              <img src="assets/images/flag_ro.png" width="30px" height="20px" (click)="changeLanguage('ro')"
                   style="margin-right:20px;margin-top:5px;"></div>
          </div>
        </div>
      </div>

      <div style="text-align: center">
        <p class="text-style-small"
           style="margin-top:3px; color: #378dcc;">{{ 'COMPONENT1.SUB-COMPONENT1' | translate }}</p>
      </div>
    </div>
  </div>

</div>
