<div class="layout-main" id="content">
    <div class="ui-g-12" style="text-align: center; background: white">

        <div class="container" style="margin-right: 0%; margin-left: 5%;">
            <div class="row">
                <div class="col" style="margin-top: 100px; margin-right: 0%; margin-left: 5%;">
                        <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
                </div>
                <div class="col" style="margin-top: 100px;">
                        <div class="ui-inputgroup">
                                <button pButton type="button" label="Search"></button>
                                <input type="text" pInputText placeholder="Keyword">         
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" ui-g-7" style="text-align: left;">
        <p>jskhdsadjkhsakdjasdhad</p>
    </div>

    <div class="ui-g-5" style="text-align: left;">
        <p>sdadkjskdsks</p>
    </div>
</div>