<div class="ui-g" style="text-align:center;">
  <div style="margin: auto;width:98%">
    <p-dataView #dvg [value]="field1" [layout]="'grid'">
      <p-header><span style="font-size:25px;display:inline-block;">{{ 'COMPONENT2.SUB-COMPONENT1' | translate }}</span>
      </p-header>

      <ng-template let-gro pTemplate="gridItem">
        <div class="ui-g-2 ui-lg-2 ui-md-2">
          <button (click)="method1(gro)" class="group_buttons" pButton label="{{gro}}"
                  type="text"></button>
        </div>
      </ng-template>
    </p-dataView>


    <div class="ui-g" style="height:10px!important;">

    </div>

    <p-dataView #dvl [value]="field2" [layout]="'grid'" [paginator]="true" [rows]="24">
      <p-header><span style="font-size:25px;display:inline-block;">{{ 'COMPONENT2.SUB-COMPONENT2' | translate }}</span>
      </p-header>
      <ng-template let-line pTemplate="gridItem">
        <div class="ui-g-2">
          <button class="line_buttons" type="text" pButton (click)="navigateMethod1(line)"
                  label="{{line}}"></button>
        </div>
      </ng-template>

    </p-dataView>


  </div>
</div>
<div class="bottomDiv">
  <app-buttons-bar [isVisible]="false" [lines]="true"></app-buttons-bar>
</div>
